@page
@{
    ViewData["Title"] = "Home page";
}

<div class="site-blocks-cover overlay" style="background-image: url(images/weasel-header.png);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">Ваши игры - в наших лапках</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Управляем фермами для вашего успеха</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="Inner Register URL" class="btn btn-primary py-3 px-5 text-white">Начните фармить без забот</a></p>
            </div>
        </div>
    </div>
</div>

<div class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/images/weasel-programmer.png" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">О нас</h2>
                </div>
                <p>Добро пожаловать на Weasel Farmers! Мы - команда энтузиастов и профессионалов, посвятивших себя созданию удобного и эффективного сервиса для управления фермами в Play2Earn играх. Наша миссия - помочь вам максимизировать свои доходы от игр, сняв с вас всю рутину и заботы.</p>

            </div>

        </div>
    </div>
</div>

<div class="site-section bg-image overlay" id="section-how-it-works">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Как использовать?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <div class="how-it-work-item">
                    <span class="number">1</span>
                    <div class="how-it-work-body">
                        <h2>Пройдите регистрацию</h2>
                        <p class="mb-5">Это просто! Мы не потребуем от вас никаких личных данных!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <div class="how-it-work-item">
                    <span class="number">2</span>
                    <div class="how-it-work-body">
                        <h2>Пополните баланс</h2>
                        <p class="mb-5">Мы поддерживаем систему оплаты МИР и оплату по СБП!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                <div class="how-it-work-item">
                    <span class="number">3</span>
                    <div class="how-it-work-body">
                        <h2>Найтройте ферму</h2>
                        <p class="mb-3">Наши конфигурации позволяют тонко настроить ваши фермы!</p>
                        <p class="mb-5">Мы не берём ваши авторизационные данные telegram, только авторизации из самих игр, ваши аккаунты в безопасности!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="site-section border-bottom" id="section-our-team">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Команда проекта</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <div class="person">
                    <img src="~/images/weasel-marketer.png" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Marketer Weasel</h3>
                    <p class="position text-muted">Маркетолог</p>
                    <p class="mb-4">Вы попали к нам на сайт? - Это его заслуга.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <div class="person">
                    <img src="~/images/weasel-programmer.png" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Programmer Weasel</h3>
                    <p class="position text-muted">Основатель, программист</p>
                    <p class="mb-4">Вам понравились наши фермы? - Это его заслуга.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                <div class="person">
                    <img src="~/images/weasel-designer.png" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Designer Weasel</h3>
                    <p class="position text-muted">Дизайнер</p>
                    <p class="mb-4">Вы восхищены нашим UI? - Это её заслуга.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light" id="section-services">
    <div class="container">
        <div class="row justify-content-center mb-5" data-aos="fade-up">
            <div class="col-md-7 text-center border-primary">
                <h2 class="mb-0 text-primary">Ваши фермы</h2>
                <p class="color-black-opacity-5">в наших лапках</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-plane"></span></div>
                    <div>
                        <h3>Air Freight</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-boat-ship"></span></div>
                    <div>
                        <h3>Ocean Freight</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-truck"></span></div>
                    <div>
                        <h3>Land Transportation</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-warehouse"></span></div>
                    <div>
                        <h3>Warehousing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-wooden"></span></div>
                    <div>
                        <h3>Storage</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-worldwide"></span></div>
                    <div>
                        <h3>Worldwide Delivery</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>